@import "tailwindcss";

@theme {
  --color-primary: #0F172A;
  --color-primary-foreground: #FFFFFF;
  --color-accent: #D97706;
  /* Amber-600 */
  --color-accent-foreground: #FFFFFF;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #F8FAFC;
  /* Slate-50 */
  --foreground: #0F172A;
  /* Slate-900 */
}

.dark {
  --background: #0F172A;
  /* Slate-900 */
  --foreground: #F8FAFC;
  /* Slate-50 */
  --color-primary: #F8FAFC;
  /* Slate-50 - Inverted for visibility */
  --color-primary-foreground: #0F172A;
  /* Slate-900 */
  --color-accent: #F59E0B;
  /* Amber-500 */
  --color-accent-foreground: #0F172A;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}